:root {
  --color-dark: #222f3e;
  --color-light: #fff;
  --color-grey-dark: #8395a7;
  --color-grey-light: #e5e7e9;
  --color-green: #1dd1a1;
  --color-red: #ee5253;
  --color-orange: #ff9f43;
  --color-blue: #2e86de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
