.Dialog {
  width: 100%;
  height: 100%;
  background-color: var(--color-light);
  position: fixed;
  left: 0;
  top: 60px;
  animation: fadeIn 0.2s;
}

.DialogHeader {
  background: var(--color-grey-dark);
  color: var(--color-light);
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.DialogHeader > svg:hover {
  cursor: pointer;
}

.DialogBody {
  padding: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .Dialog {
    width: 520px;
    height: 300px;
    left: 20px;
    top: 130px;
    border-radius: 4px;
    position: absolute;
    box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.63);
  }

  .DialogHeader {
    background: var(--color-dark);
    border-radius: 4px 4px 0 0;
  }
}
