.DeviceCard {
  width: 100%;
  border: 1px solid var(--color-grey-light);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.DeviceCardHeader {
  display: flex;
  justify-content: space-between;
}

.DeviceCardBody {
  padding: 16px;
}

.DeviceCardBody span {
  color: var(--color-grey-dark);
  font-size: 14px;
}

.DeviceCardFooter {
  background: var(--color-grey-light);
  padding: 6px 16px;
  font-size: 14px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 3px 3px;
}

.DeviceCardFooter:hover {
  background-color: var(--color-blue);
  color: var(--color-light);
  cursor: pointer;
}

.DeviceId {
  color: var(--color-grey-dark);
  font-size: 13px;
}
